@media screen and (max-width: 768px){
    .big-bang-theory-title {
        font-size: 2.5em;
        margin-top: -200px;
    }

    .asteroids-pictures-1, .asteroids-pictures-2,
    .asteroids-pictures-3, .asteroids-pictures-4,
    .asteroids-pictures-5, .asteroids-pictures-6,
    .asteroids-pictures-7, .asteroids-pictures-8 {
        display: none;
    }

    .big-bang-theory-description {
        max-width: 300px;
        font-size: 20px;
        position: relative;
        margin-top: 300px;
    }

    .first-link-big-bang {
        font-size: 20px;
        max-width: 300px;
    }

    .second-link-big-bang {
        font-size: 20px;
        max-width: 300px;
        margin-top: 1160px;
    }
}