.about-us {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: #171717;
    opacity: 0;
    
}

.about-us.show {
    opacity: 1;
    
    animation: about-us-appear 1s ease forwards;
}

.display-paragraph {
    display: none;
}

.about-us-title {
    position: absolute;
    text-align: left;
    font-size: 4em;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-family: 'REM', sans-serif;
    
    color: #171717;
    -webkit-text-stroke: 2px #EDEDED;
    z-index: 2;
}

.about-us-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 55%;
    transform: translateY(-50%);
    width: 0;
    height: 8px;
    background-color: #da0037;
    transition: width 0.5s ease;
}

.about-us-title:hover::before {
    width: 100%;
}

.paragraph-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #EDEDED;
}

.line-1, .line-2,
.line-3, .line-4 {
    width: 80%;
    height: 70px;
    position: relative;
    font-size: 2rem;
    line-height: 4rem;
    opacity: 0;
    filter: blur(5px);
    transform: translateY(20%);
    transition: all 1s;
}

.line-1 {
    animation-delay: 0.5s;
}

.line-2 {
    animation-delay: 0.7s;
}

.line-3 {
    animation-delay: 0.9s;
}

.line-4 {
    animation-delay: 1.1s;
}

.show-paragraphs {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

@keyframes about-us-appear {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {

    .paragraph-wrapper .line-1,
    .paragraph-wrapper .line-2,
    .paragraph-wrapper .line-3,
    .paragraph-wrapper .line-4,
    .paragraph-wrapper .line-6 {
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        /* Display individual lines on smaller screens */
        font-size: 5%;
        height: 100vh;
        line-height: 2;
        display: none;
        /* Center the lines horizontally */
        /* Align text to the left */
    }

    /* .paragraph-wrapper span {
        display: none;
        /* Hide the combined paragraph 
    } */

    .line-1 {
        font-size: 5px;
        top: 20px;
    }

    .line-2 {
        font-size: 5px;
        top: 140px;
    }

    .line-3 {
        font-size: 5px;
        top: 110px;
    }

    .line-4 {
        top: 120px;
    }

    .line-6 {
        top: 120px;
    }

    .display-paragraph {
        display: flex;
        text-align: left;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 150px;
    }
}