html,
body,
main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Wix Madefor Display', sans-serif;
    overflow-x: hidden;
}

section {
    overflow-x: hidden;
}
