.services-initiative {
    position: relative;
    display: grid;
    flex-direction: column;
    place-items: center;
    text-align: left;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: #171717;
}

.services-title {
    position: absolute;
    
    top:20%;
    left: 34%;
    font-family: 'REM', sans-serif;
    font-size: 3.8em;
    transform: translate(-50%, -50%);
    color: #171717;
    -webkit-text-stroke: 2px #EDEDED;
    z-index: 2;
}

.services-title::before {
    content: "";
    position: absolute;
    
    left: 0;
    top: 55%;
    transform: translateY(-50%);
    width: 0;
    height: 8px;
    background-color: #da0037;
    transition: width 0.5s ease;
}

.services-title:hover::before {
    width: 100%;
}

.paragraph-wrapper .details .line-1, .line-2,
.line-3, .line-4, .line-6 {
    color: #EDEDED;
    text-align: left;
    position: relative;
    display: flex;
    align-items: flex-start;
}

.line-6 { 
    width: 80%;
    height: 70px;
    position: relative;
    font-size: 2rem;
    line-height: 4rem;
    opacity: 0;
    filter: blur(5px);
    transform: translateY(20%);
    transition: all 1s;
    animation-delay: 1.3s;
}

.show-paragraphs {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.html-icon {
    width: 10%;
    position: absolute;
    top: 10%;
    left: 80%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-20%);
    transition: all 1s;
    animation-delay: 0.3s;
}

.css-icon {
    width: 10%;
    top: 40%;
    left: 80%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-20%);
    transition: all 1s;
    animation-delay: 0.5s;
}

.javascript-icon {
    width: 10%;
    top: 70%;
    left: 80%;
    position: absolute;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-20%);
    transition: all 1s;
    animation-delay: 0.7s;
}

.show-paragraphs {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


